.form {
  display: flex;
  flex-direction: column;
  width: 100%;
  border-radius: em(5);
  padding-bottom: em($gutter-y);

  &__input {
    width: 100%;
    margin-top: em(10);
    margin-bottom: em(10);
    padding: em(15) em(20);

    &.invalid {
      border: 1px solid rgba($red, 0.35);
      background-color: rgba($red, 0.025);
    }
  }

  &__btn {
    width: 100%;

    @include md {
      min-width: em(125);
      margin-right: auto;
      width: auto;
    }
  }

  &__input,
  &__btn,
  &__select {
    border: none;
    outline: none;
    border-radius: em(5);
    font-size: em(16);
  }

  &__select {
    width: 100%;
    margin-top: em(10);
    margin-bottom: em(10);
    padding: em(15) em(20);

    &-option {}
  }

  &__label {}

  &__title {
    margin-top: em($gutter-y);
    margin-bottom: em($gutter-y);
    font-size: em($font-size-h3);
    color: $black;
  }

  &__h3 {
    font-size: em(18);
    color: $black;
  }

  &__group {
    display: flex;
    flex-direction: column;
    width: 100%;
    margin-bottom: em(10);
  }

  &__feedback {
    margin-bottom: em(15);
    width: 100%;
    color: $red;
  }
}
