.heading {
  display: flex;
  flex-direction: column;
  margin-bottom: em($gutter-y);
  width: 100%;

  &.has-controls {
    justify-content: space-between;
  }

  &__title {
    font-size: em($font-size-h3);
    border-bottom: 1px solid rgba($grey, 0.25);
    padding-bottom: em(5);
  }

  &__subtitle {
    font-size: em($font-size-large);
  }

  &__controls {
    display: flex;
    align-items: center;
    padding-top: em($gutter-y);

    &-link {
      margin-left: auto;
    }
  }
}
