.header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: em($header-height);
  padding: em($gutter-y) em($gutter-x);
  background-color: $lightgrey;

  &__logo {
    img {
      transition: opacity $transition-normal;

      &:hover {
        opacity: 1;
        cursor: pointer;
      }
    }
  }

  &__logo {
    img {
      width: em(45);
    }
  }

  &__menu {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-left: em($gutter-x);
    &-icon {
      width: em(35);
      opacity: 0.75;
      transition: opacity $transition-normal;
      cursor: pointer;
      @include md {
        &:hover {
          opacity: 1;
        }
      }
    }
  }

  &__languages {
    margin-left: auto;
    &-list {
      display: flex;
      align-items: center;
      justify-content: space-between;
      list-style-type: none;
      padding-left: 0;
      margin-top: 0;
      margin-bottom: 0;
      &-item {
        margin-left: em(10px);
        img {
          width: em(35px);
          transition: opacity $transition-normal;
          opacity: 0.5;
        }
        &.active {
          img {
            opacity: 1;
          }
        }
        &:hover {
          img {
            opacity: 1;
            cursor: pointer;
          }
        }
      }
    }
  }
}
