.heading {
  display: flex;
  flex-direction: column;
  margin-bottom: em($gutter-y);
  width: 100%;

  &.has-controls {
    justify-content: space-between;
  }

  &__title {
    font-size: em($font-size-h3);
    border-bottom: 1px solid rgba($grey, 0.25);
    padding-bottom: em(5);
  }

  &__subtitle {
    font-size: em($font-size-large);
  }

  &__controls {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-top: em($gutter-y);

    &-refresh {
      display: block;
      width: em(25);
      height: em(25);
      outline: none;
      background-image: url(../img/refresh.svg);
      background-repeat: no-repeat;
      background-color: transparent;
      transition: opacity $transition-normal;
      opacity: 0.75;

      @include md {
        &:hover {
          opacity: 1;
        }
      }
    }

    &-link {
      margin-left: auto;
    }
  }
}
