.jumbotron {
  font-size: 0.75em;
  margin-bottom: em(15);
  text-align: center;

  @include xs {
    font-size: 0.85em;
  }

  @include sm {
    font-size: 1em;
  }

  &-heading {
    margin: 0;
    font-size: em($font-size-h1);
    color: $black;
  }
  &-text {
    margin: em(5) 0;
    font-size: em($font-size-large);
    color: $grey;
  }
}
