.list {
  margin-top: 0;
  margin-bottom: 0;
  padding-left: 0;
  list-style-type: none;

  li + li {
    margin-top: em($gutter-y);
  }

  &__item {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: em($gutter-y) em($gutter-x);
    border-radius: em(5);
    background-color: $white;

    &-body {
    }

    &-controls {
      display: flex;
      align-items: center;

      &-btn {
        margin-left: em(10);
      }
    }
  }
}
