.list {
  margin-top: 0;
  margin-bottom: 0;
  padding-left: 0;
  list-style-type: none;

  li + li {
    margin-top: em($gutter-y);
  }

  &__item {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: em($gutter-y) em($gutter-x);
    border-radius: em(5);
    background-color: $white;

    &-controls {
      display: flex;
      align-items: center;
    }

    &-remove,
    &-edit {
      margin-left: em($gutter-x);
      width: em(25);
      height: em(25);
      background-color: transparent;
      background-size: contain;
      background-position: center center;
      background-repeat: no-repeat;
      transition: opacity $transition-normal;
      outline: none;
      opacity: 0.75;

      @include md {
        &:hover {
          opacity: 1;
          cursor: pointer;
        }
      }
    }

    &-remove {
      background-image: url(../img/dustbin.svg);
    }

    &-edit {
      background-image: url(../img/pencil.svg);
    }
  }
}
