.sidebar {
  display: flex;
  flex-direction: column;
  height: 100%;
  position: absolute;
  top: 0;
  left: - em($sidebar-width);
  width: em($sidebar-width);
  padding: em($gutter-y) em($gutter-x);
  border-top: 1px solid rgba($grey, 0.15);
  border-right: 1px solid rgba($grey, 0.15);
  background-color: rgba($lightgrey, 0.75);
  transition: left $transition-fast;
  z-index: 1;

  &:before {
    content: "";
    position: absolute;
    left: 0;
    top: 0;
    bottom: 0;
    display: block;
    height: 100%;
    width: inherit;
    filter: blur(5px);
    background-color: inherit;
    z-index: -1;
  }

  @include md {
    position: relative;
    top: initial;
    left: initial;
    margin-left: - em($sidebar-width);
    transition: margin-left $transition-fast;

    &.in {
      margin-left: 0;
    }
  }

  &.in {
    left: 0;
  }

  &-menu {
    display: flex;
    flex-direction: column;
    list-style-type: none;
    padding-left: 0;
    margin-top: em($gutter-y);
    margin-bottom: 0;

    li + li {
      margin-top: em($gutter-y);
    }

    &__item {
      font-size: em($font-size-large);

      &-link {
        border-bottom: 1px solid transparent;
        text-decoration: none;
        color: $black;

        &.active {
          border-bottom: 1px solid $lightblue;
          color: $lightblue;
        }

        @include md {
          transition: color $transition-fast, border-bottom $transition-fast;
          &:hover {
            border-bottom: 1px solid $lightblue;
            color: $lightblue;
          }
        }
      }

      &-logout {
        padding-top: em($gutter-y);
        border-top: 1px solid rgba($grey, 0.15);
        @include md {
          span {
            &:hover {
              cursor: pointer;
            }
          }
        }
      }
    }
  }
}
