{
  "presets": ["env", "react"],
  "plugins": [
    "react-hot-loader/babel",
    "transform-object-rest-spread",
    "transform-async-to-generator",
    [
      "transform-runtime",
      {
        "polyfill": false,
        "regenerator": true
      }
    ]
  ]
}
