.dashboard {
  &-content {
    flex-grow: 1;
    padding: em($gutter-y) em($gutter-x);

    @include md {
      &.in {
        margin-left: em($sidebar-width);
      }
    }

    &__container {
      max-width: em($screen-md-min);
      @include mx-auto;
    }
  }
}
