.dashboard-groups {
  &__form {
    display: flex;
    flex-direction: column;
    width: 100%;
    border-radius: em(5);
    padding: em($gutter-y) 0;

    &-input,
    &-btn {
      border: none;
      outline: none;
      border-radius: em(5);
      font-size: em(16);
    }

    &-input {
      width: 100%;
      margin-bottom: em(10);
      padding: em(15) em(20);

      &.invalid {
        border: 1px solid rgba($red, 0.35);
        background-color: rgba($red, 0.025);
      }
    }

    &-btn {
      width: 100%;

      @include md {
        min-width: em(125);
        margin-left: auto;
        width: auto;
      }
    }

    &-feedback {
      margin-bottom: em(15);
      width: 100%;
      color: $red;
    }
  }
}
