.dashboard-groups {
  &__heading {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: em($gutter-y);

    &-btns {
      display: inherit;
      align-items: inherit;

      .refresh {
        width: em(25);
        height: em(25);
        margin-right: em($gutter-x);
        margin-left: em($gutter-x);
        background-image: url(../img/refresh.svg);
        background-size: contain;
        background-repeat: no-repeat;
        transition: opacity $transition-normal;
        opacity: 0.75;

        @include md {
          &:hover {
            opacity: 1;
            cursor: pointer;
          }
        }
      }
    }
  }
  &__list {
    list-style-type: none;
    padding-left: 0;
    margin-top: 0;
    margin-bottom: 0;

    li + li {
      margin-top: em($gutter-y);
    }

    &-item {
      display: flex;
      align-items: center;
      justify-content: space-between;
      padding: em($gutter-y) em($gutter-x);
      border-radius: em(5);
      background-color: $white;

      &-controls {
        display: flex;
        align-items: center;
      }

      &-remove {
        margin-left: em(10);
      }

      &-remove,
      &-edit {
        outline: none;
        img {
          width: em(25);
          opacity: 0.75;
          transition: opacity $transition-normal;
        }

        @include md {
          cursor: pointer;
          &:hover {
            img {
              opacity: 1;
            }
          }
        }
      }
    }
  }
  &__form {
    display: flex;
    flex-direction: column;
    width: 100%;
    border-radius: em(5);
    padding: em($gutter-y) 0;

    &-input,
    &-btn {
      border: none;
      outline: none;
      border-radius: em(5);
      font-size: em(16);
    }

    &-input {
      width: 100%;
      margin-bottom: em(10);
      padding: em(15) em(20);

      &.invalid {
        border: 1px solid rgba($red, 0.35);
        background-color: rgba($red, 0.025);
      }
    }

    &-btn {
      width: 100%;

      @include md {
        min-width: em(125);
        margin-left: auto;
        width: auto;
      }
    }

    &-feedback {
      margin-bottom: em(15);
      width: 100%;
      color: $red;
    }
  }
}
