.dashboard-groups {
  &__heading {
    display: flex;
    justify-content: space-between;
    margin-bottom: em($gutter-y);
  }
  &__list {
    list-style-type: none;
    padding-left: 0;
    margin-top: 0;
    margin-bottom: 0;

    li + li {
      margin-top: em($gutter-y);
    }

    &-item {
      display: flex;
      align-items: center;
      justify-content: space-between;
      padding: em($gutter-y) em($gutter-x);
      border-radius: em(5);
      border: 1px solid rgba($grey, 0.5);

      &-remove {
        img {
          width: em(25);
        }
      }
    }
  }
}
