// colors
$white: #fff;
$lightgrey: #eeefef;
$lightblue: #38498c;
$grey: #989898;
$black: #343434;
$steel: #b2bec3;
$red: #e84118;
$green: #6ab04c;
$yellow: #f9ca24;

// font-sizes
$browser-context: 16;
$font-size-large: 18;
$font-size-normal: 16;
$font-size-small: 13;
$font-size-h1: 48;
$font-size-h2: 36;
$font-size-h3: 28;
$font-size-h4: 24;
$font-size-h5: 21;
$font-size-h6: 18;

// font-families
$fallback: Arial, Helvetica, sans-serif;
$font-family-bold: "Roboto-Bold", $fallback;
$font-family-regular: "Roboto-Regular", $fallback;

// breakpoints
$screen-xs-min: 424px;
$screen-sm-min: 575px;
$screen-md-min: 767px;
$screen-lg-min: 991px;
$screen-xl-min: 1199px;

// sizes
$gutter-x: 10;
$gutter-y: 10;
$header-height: 65;
$sidebar-width: 230;
$container-max-width: $screen-md-min;
$icon-size: 25;
$checkmark-size: 25;

// hamburger
$hamburger-size: 40;
$hamburger-line-size: 4;

// transitions
$transition-fast: 200ms;
$transition-normal: 300ms;
$transition-slow: 750ms;
