* {
  box-sizing: border-box;
  &:before,
  &:after {
    box-sizing: inherit;
  }
}

html,
body {
  margin: 0;
  height: 100%;
  min-height: 100%;
  overflow-x: hidden;
  font-family: $font-family-regular;
  font-size: em($browser-context);
}

#root,
#app {
  height: inherit;
  min-height: inherit;
  font-size: inherit;
}

#content {
  height: calc(100% - #{em($header-height)});
  overflow-y: auto;
  background-color: $lightgrey;
}
